body {
  padding: 50px 0 0;
  background-color: greenyellow;
  text-align: center;
  color: #fff;
}
.global {
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  background-color: royalblue;
}
.global-title {
  text-shadow: 1px 1px 2px black;
  margin: 100px 0;
}
.global-link {
  color: #fff;
}
table {
  width: 75%;
  margin: 0 auto;
  border-collapse: collapse;
}
caption {
  margin: 20px 0;
}
td {
  width: 33%;
  height: 50px;
  border: 1px solid black;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
  margin-bottom: 48px;
}
.width-75 {
  width: 75%;
}
.width-60 {
  width: 60%;
}
.width-40 {
  width: 40%;
}
.width-28 {
  width: 28%;
}
.height-200 {
  height: 200px;
}